body {
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
  margin: 0;
  background-color: #101010;
  color: #ffffff;
}
canvas {
  display: block;  /*prevents scrollbar*/
  width: 100vw; /* Fallback for browsers that do not support Custom Properties */
  height: 100vh;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
}
